name: Crypto Market Scanner (LIVE)

on:
  workflow_dispatch:
  schedule:
    - cron: "0 20 * * *"  # 7:00am Sydney (AEDT) = 20:00 UTC (prev day)
    - cron: "0 2 * * *"   # 1:00pm Sydney (AEDT) = 02:00 UTC
    - cron: "0 8 * * *"   # 7:00pm Sydney (AEDT) = 08:00 UTC


jobs:
  scan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install requests
        run: pip install requests

      - name: Run scanner
        env:
          TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
        run: python scanner.py
